body {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

li {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

header a {
  text-decoration: none;
  color: #434455;
}

header p {
  font-family: Raleway;
  font-size: 18px;
  font-style: bold;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: #2e2f42;
}

.header-span {
  color: #4d5ae5;
}

.header-contact a {
  color: #434455;
}

.wawd-images img {
  width: 360px;
  height: 300px;
}

.portfolio-images img {
  width: 360px;
  height: 300px;
  flex-shrink: 0;
}
